VITE_FIREBASE_API_KEY=AIzaSyC5A1TP8eJ_Ss3mjEe30ve3cPYWunt1yDA
VITE_FIREBASE_AUTH_DOMAIN=petalia-383ec.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=petalia-383ec
VITE_FIREBASE_STORAGE_BUCKET=petalia-383ec.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=945449483673
VITE_FIREBASE_APP_ID=1:945449483673:web:ed4280d24beb4f34aea708
VITE_FIREBASE_MEASUREMENT_ID=G-B1JS6HJ739
